
@font-face {
    font-family: 'CNNSans-Regular';
    src: url('CNNSans-Regular.woff2') format('woff2'),
        url('CNNSans-Regular.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'CNNDisplay-Light';
    src: url('CNNSansDisplay-Light.woff2') format('woff2'),
        url('CNNSansDisplay-Light.woff') format('woff');
    font-style: normal;
}

