@import "reset-css";

@import "base.postcss";

@import "cnn-sponsored-content.postcss";

@import "desktop.postcss" (width >= 769px);
/* @import "tablet.postcss" (width >= 768px) and (width <= 1024px); */
@import "mobile.postcss" (width <= 768px);

