:root {
    /* animations */
    --anim-img-load-fade: 350ms;
    --anim-scroll-guide: calc(1s + 1s * 2/3);

    /* colors */
    --sponsor-header-bg: #af8d43;
    --sponsor-header-fg: white;

    /* gradients */

    /* fonts */
    --font-headline: "Muli";
    --font-copy: "Muli";
}
